<header class="bg-primary py-3">
    <div class="container-expanded">
        <nav class="js-header navbar navbar-expand-lg navbar-light bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="./dist/images/logo.png" alt="" class="w-100" style="max-width: 200px;">
                </a>

                <button class="js-menu navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="js-link nav-link fw-bold" aria-current="page" href="#quemSouEu">Quem sou eu</a>
                        <a class="js-link nav-link fw-bold" href="#portifolio">Portifólio</a>
                        <a class="js-link nav-link fw-bold" href="#contato">Contato</a>
                        <a class="nav-link fw-bold js-start-particles cursor-pointer btn-pro text-center" style="min-width: 60px;">Pro</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>